{% extends "base.html" %}
{% load static %}

{% block content %}

  <header>
    {% include "pages/header-links.html" %}
  </header>

  <section class="login-page">
    <div class="stats--item">
      <h2>Dane użytkownika</h2>
      <p>Imię: {{ user.first_name }}</p>
      <p>Nazwisko: {{ user.last_name }}</p>
      <p>E-Mail: {{ user.email }}</p>
    </div>
    <div class="stats--item">
      <table>
        <caption>Lista przekazanych darów:</caption>
        <thead>
          <tr>
            <td>Ilość worków</td>
            <td>Organizacja</td>
          </tr>
        </thead>
      </table>
    </div>
  </section>

{% endblock %}
