{% extends "base.html" %}
{% load static %}

{% block content %}
    <header>

    {% include "pages/header-links.html" %}

    </header>

    <section class="login-page">
      <h2>Edytuj dane</h2>
        <form action="" method="post">
          {% csrf_token %}
          {% for field in form1 %}
            <div class="form-group">
              {{ field }}
            </div>
          {% endfor %}
          {% for key, value in form1.errors.items %}
            <span class="fieldBox">{{ value }}</span>
          {% endfor %}

        <div class="form-group form-group--buttons">
          <button class="btn" type="submit" name="user-data">Zapisz dane</button>
        </div>
      </form>

     <h2>Zmień hasło</h2>
        <form action="" method="post">
          {% csrf_token %}
          {% for field in form2 %}
            <div class="form-group">
              {{ field }}
            </div>
          {% endfor %}
          {% for key, value in form2.errors.items %}
            <span class="fieldBox">{{ value }}</span>
          {% endfor %}

        <div class="form-group form-group--buttons">
          <button class="btn" type="submit" name="user-password">Zmień hasło</button>
        </div>
      </form>
    </section>

{% endblock %}