{% extends "base.html" %}
{% load static %}

{% block content %}
    <header>

    {% include "pages/header-links.html" %}

    </header>

    <section class="login-page">
      <h2>Potwierdź hasło</h2>
        <form action="" method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field }}
            </div>
          {% endfor %}
          {% for key, value in form.errors.items %}
            <span class="fieldBox">{{ value }}</span>
          {% endfor %}

        <div class="form-group form-group--buttons">
          <button class="btn" type="submit">Potwierdź</button>
        </div>
      </form>
    </section>

{% endblock %}