{% extends "base.html" %}
{% load static %}

{% block content %}

  <header>
    {% include "pages/header-links.html" %}
  </header>

  <section class="login-page">
    <div class="stats--item">
      <h2>Dane użytkownika</h2>
      <p>Imię: {{ user.first_name }}</p>
      <p>Nazwisko: {{ user.last_name }}</p>
      <p>E-mail: {{ user.email }}</p>
    </div>
    <div class="stats--item">
      <table class="btn--large" border="1">
        <caption class="">Lista przekazanych darów:</caption>
        <thead class="stats form-group--inline">
        <tr>
          <td>Ilość worków</td>
          <td>Organizacja</td>
          <td>Kategorie</td>
          <td>Data zabrania</td>
          <td>Status</td>
        </tr>
        </thead>
        <tbody>
        {% for donation in donations %}
          {% if donation.is_taken %}
            <tr class="small btn--small errornote delete delete-confirmation deletelink-box">
              <td>{{ donation.quantity }}</td>
              <td>{{ donation.institution }}</td>
              <td>
                {% for category in donation.categories.all %}
                  {{ category }} <br>
                {% endfor %}
              </td>
              <td>{{ donation.pick_up_date }} <br> {{ donation.pick_up_time }}</td>
              <td>
                Zabrany
              </td>
            </tr>
          {% else %}
            <tr>
            <td>{{ donation.quantity }}</td>
            <td>{{ donation.institution }}</td>
            <td>
              {% for category in donation.categories.all %}
                {{ category }} <br>
              {% endfor %}
            </td>
            <td>{{ donation.pick_up_date }} <br> {{ donation.pick_up_time }}</td>
            <td>
            Nie zabrany
            <form action="" method="post" class="checkbox about-us--text">
              {% csrf_token %}
              <input name="checked" type="checkbox">
              <input name="{{ donation.id }}" type="submit" value="Zmień">
            </form>
          {% endif %}
        </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

{% endblock %}
